<h1>Editing advertisements_file</h1>

<%= form_tag :action => 'update', :id => @advertisements_file %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
</form>

<%= link_to 'Show', :action => 'show', :id => @advertisements_file %> |
<%= link_to 'Back', :action => 'list' %>
