<div id="help" style="height: 100%;">
    <div class="title">
        <%=t :streamburst_usage_1 %>
    </div>
    <table width="100%">
        <tr>
            <td>
                <div class="text">
                    <br>
                    <%=t :streamburst_usage_2 %>
                    <br>
                    <ul>
                        <li>
                            <%=t :streamburst_usage_3 %>
                        </li>
                        <li>
                            <%=t :streamburst_usage_4 %>
                        </li>
                        <li>
                            <%=t :streamburst_usage_5 %>
                        </li>
                        <li>
                            <%=t :streamburst_usage_6 %>
                        </li>
                        <li>
                            <%=t :streamburst_usage_7 %>
                        </li>
                        <li>
                            <%=t :streamburst_usage_8 %>
                        </li>
                        <li>
                            <%=t :streamburst_usage_9 %>
                        </li>
                        <li>
                            <%=t :streamburst_usage_10 %>
                        </li>
                        <li>
                            <%=t :streamburst_usage_11 %>
                        </li>
                        <li>
                            <%=t :streamburst_usage_12 %>
                        </li>
                    </ul>
                    <%=t :streamburst_usage_13 %>
                    <br>
                    <br>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="close_button">
                    <%= link_to_close_redbox image_localized_tag("button_close_1.png", :border => 0, :alt => t(:Close)) %>
                </div>
            </td>
        </tr>
    </table>
</div>
