<% if RAILS_ENV=="development" %>
  <% url_prefix = "http://app2.streamburst.net:3000" %>
<% else %>
  <% url_prefix = "http://streamburst.tv" %>
<% end %>
<fb:swf swfbgcolor="000000" imgstyle="border-width:3px; border-color:white;" swfsrc='<%=@dvm.dvm_template.swf_url%>?token=<%=@dvm.token%>' imgsrc='<%=url_prefix%><%=url_for_image_column(@dvm.dvm_template, "large_click_image", :name => "widescreen", :absolute => true)%>' width='180' height='600' />
<br>
<center><a href="http://apps.facebook.com/dvm_app/?fb_page_id=12085465638"><%=t :dvm_recommendation_text_1, :dvm_title=> @dvm.dvm_template.title%></a></center>
