<h1>Editing dvms</h1>

<%= render :partial => 'list_dvm_brands' %>

<%= form_tag :action => 'update', :id => @dvm %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
</form>

<%= link_to 'Show', :action => 'show', :id => @dvm %> |
<%= link_to 'Back', :action => 'list' %>
