<%= error_messages_for 'price_class' %>

<!--[form:price_class]-->
<p><label for="price_class_name">Name</label><br/>
<%= text_field 'price_class', 'name'  %></p>

<p><label for="price_class_price_eur">Price eur</label><br/>
<%= text_field 'price_class', 'price_eur'  %></p>

<p><label for="price_class_price_gbp">Price gbp</label><br/>
<%= text_field 'price_class', 'price_gbp'  %></p>

<p><label for="price_class_price_usd">Price usd</label><br/>
<%= text_field 'price_class', 'price_usd'  %></p>

<p><label for="price_class_price_usd">Price isk</label><br/>
<%= text_field 'price_class', 'price_isk'  %></p>
<!--[eoform:price_class]-->

