<h1>Watermark Used Status</h1>
<table>
  <tr>
    <th align="left">Download File</th>
    <th align="left">User email</th>
    <th align="center">Created</th>
    <th align="center">Updated</th>
    <th align="right">Watermark</th>
  </tr>
<%last_video_server = ""%>  
<% for watermark in @watermarks %>
   <tr>
    <td width="300" align="left"><%=watermark.download.file_name%></td>
    <td width="140" align="left"><%=watermark.user.email%></td>
    <td width="90" align="center"><%="%02d/%02d/%04d" % [watermark.created_at.day, watermark.created_at.month, watermark.created_at.year]%></td>
    <td width="90" align="center"><%="%02d/%02d/%04d" % [watermark.updated_at.day, watermark.updated_at.month, watermark.updated_at.year]%></td>
    <td width="120" align="right"><%=watermark.watermark%></td>
  </tr>
<% end %>
</table>
