<h1>Editing campaign</h1>

<%= form_tag :action => 'update', :id => @campaign %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
</form>

<%= link_to 'Show', :action => 'show', :id => @campaign %> |
<%= link_to 'Back', :action => 'list' %>
