<html>
<head>
  <title>Admin for Store</title>
  <%= stylesheet_link_tag "streamburst_admin", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'progress'%>
  <script type="text/javascript" src="/javascripts/ufo.js"></script>
</head>
<body id="admin">    
    <div id="banner">
      <%= render(:partial => "layouts/streamburst_admin_banner") %>
    </div>
    <div id="main">
    <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
    <% end -%>
      <%= @content_for_layout %>
    </div>
</body>
</html>
